body {
	border: 20px solid #B5F2F2;
	margin: 2% 20% 2% 20%;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: justify;
	padding-left: 2%;
	padding-right: 2%;
}

.date {
	color: #25E3ED;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.blogTitle {
	color: #F7AC09;
	font-weight: 900;
	font-size: 30px;
}

.blogSnippet p:first-child {
	border-left: 5px solid #B5F2F2;
	padding-left: 1%;
}

p {
	font-size: 15px;
	font-weight: 600;
}

hr {
	border-color: #C6F2F4;
}
